.header-bar {
    color: #e6eef4;
    background-color: #355a73;
    font-family: "Open Sans", "Arial, sans-serif";
/*    line-height: 1.5;*/
    float: left;
    width: 100%;
    display: block;
    font-weight: normal;
    padding: .5rem 0;
}

.header_text{
    float:left;
    display: block;
    padding-left: 25em;
}

.header-bar_contact {
    padding-right: 15em;
    display: block;
}

.my_account_button{
    padding-left: 2.7375rem;
}
.float-right {
    float: right;
}

.menu-container {
    width: 100%;
/*    text-align: center;*/
    clear: left;
    align-content: center;
    float: left;
}

.std-logo {
    width: 25%;
    float: left;
    position: static;
}

.header_menu {
    width: 25%;
    display: inline;
    cursor: pointer;
    background-color: transparent;
    font-family: "Open Sans", "Arial", "sans-serif";
    font-weight: normal;
    color: #3398db;
    text-decoration: none;
    text-align: center;
    padding: .2em;
    margin-left: .2em;
    margin-bottom: 0px;
}

<<<<<<< HEAD
.links {
    width: 80%;
    align-content: center;
=======
.mainmenu{
    text-align: center;
    clear: left;
    background-color: #a1bfd3;
}

ul{
    list-style: none;
}
ul li:before {
    text-align:left;
    content: '✓';
>>>>>>> master
}
