.header-bar {
    color: #e6eef4;
    background-color: #355a73;
    font-family: "Open Sans", "Arial, sans-serif";
    /*    line-height: 1.5;*/
    float: left;
    width: 100%;
    display: block;
    font-weight: normal;
    padding: .5rem 0;
}

.header_text {
    float: left;
    display: block;
}

.header-bar_contact {
    text-align: center;
    padding-left: 20em;
    padding-right: 10em;
}

.my_account_button {}

.float-right {}

.menu-container {
    width: 100%;
    text-align: center;
    clear: left;
    align-content: center;
}

.std-logo {
    width: 25%;
    align-content: center;
}

.header_menu {
    display: inline;
    cursor: pointer;
    background-color: transparent;
    font-family: "Open Sans", "Arial", "sans-serif";
    font-weight: normal;
    color: #3398db;
    text-decoration: none;
    padding: .2em;
    margin-left: 5px;
    margin-bottom: 0px;
}

.test {}

.test2 {}

